$sans: 'Open Sans';
$serif: 'Open Sans';
$mono: 'Anonymous Pro', 'Source Code Pro', Monaco, Consolas, Ubuntu Mono;
$heading-font-family: "PT Serif",Georgia,"STHeiti","SimHei","Helvetica Neue",Arial,sans-serif;
$header-title-font-family: "Futura", sans-serif;
$header-subtitle-font-family: "Futura", sans-serif;

// Consolas, "Liberation Mono", Courier, monospace
//$font: $font-default;