@font-face {
    font-family: 'PTSerif';
    src: url('ptf55f.eot');
    src: url('ptf55f.eot?#iefix') format('embedded-opentype'),
         url('ptf55f.woff') format('woff'),
         url('ptf55f.ttf') format('truetype'),
         url('ptf55f.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'PTSerif';
    src: url('ptf56f.eot');
    src: url('ptf56f.eot?#iefix') format('embedded-opentype'),
         url('ptf56f.woff') format('woff'),
         url('ptf56f.ttf') format('truetype'),
         url('ptf56f.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'PTSerif';
    src: url('ptf75f.eot');
    src: url('ptf75f.eot?#iefix') format('embedded-opentype'),
         url('ptf75f.woff') format('woff'),
         url('ptf75f.ttf') format('truetype'),
         url('ptf75f.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'PTSerif';
    src: url('ptf76f.eot');
    src: url('ptf76f.eot?#iefix') format('embedded-opentype'),
         url('ptf76f.woff') format('woff'),
         url('ptf76f.ttf') format('truetype'),
         url('ptf76f.svg#pt_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bla.eot');
    src: url('lato-bla.eot?#iefix') format('embedded-opentype'),
         url('lato-bla.woff') format('woff'),
         url('lato-bla.ttf') format('truetype'),
         url('lato-bla.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-blaita.eot');
    src: url('lato-blaita.eot?#iefix') format('embedded-opentype'),
         url('lato-blaita.woff') format('woff'),
         url('lato-blaita.ttf') format('truetype'),
         url('lato-blaita.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bol.eot');
    src: url('lato-bol.eot?#iefix') format('embedded-opentype'),
         url('lato-bol.woff') format('woff'),
         url('lato-bol.ttf') format('truetype'),
         url('lato-bol.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-bolita.eot');
    src: url('lato-bolita.eot?#iefix') format('embedded-opentype'),
         url('lato-bolita.woff') format('woff'),
         url('lato-bolita.ttf') format('truetype'),
         url('lato-bolita.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-hai.eot');
    src: url('lato-hai.eot?#iefix') format('embedded-opentype'),
         url('lato-hai.woff') format('woff'),
         url('lato-hai.ttf') format('truetype'),
         url('lato-hai.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-haiita.eot');
    src: url('lato-haiita.eot?#iefix') format('embedded-opentype'),
         url('lato-haiita.woff') format('woff'),
         url('lato-haiita.ttf') format('truetype'),
         url('lato-haiita.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-lig.eot');
    src: url('lato-lig.eot?#iefix') format('embedded-opentype'),
         url('lato-lig.woff') format('woff'),
         url('lato-lig.ttf') format('truetype'),
         url('lato-lig.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-ligita.eot');
    src: url('lato-ligita.eot?#iefix') format('embedded-opentype'),
         url('lato-ligita.woff') format('woff'),
         url('lato-ligita.ttf') format('truetype'),
         url('lato-ligita.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-reg.eot');
    src: url('lato-reg.eot?#iefix') format('embedded-opentype'),
         url('lato-reg.woff') format('woff'),
         url('lato-reg.ttf') format('truetype'),
         url('lato-reg.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('lato-regita.eot');
    src: url('lato-regita.eot?#iefix') format('embedded-opentype'),
         url('lato-regita.woff') format('woff'),
         url('lato-regita.ttf') format('truetype'),
         url('lato-regita.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('opensans-condbold.eot');
    src: url('opensans-condbold.eot?#iefix') format('embedded-opentype'),
         url('opensans-condbold.woff') format('woff'),
         url('opensans-condbold.ttf') format('truetype'),
         url('opensans-condbold.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('opensans-condlight.eot');
    src: url('opensans-condlight.eot?#iefix') format('embedded-opentype'),
         url('opensans-condlight.woff') format('woff'),
         url('opensans-condlight.ttf') format('truetype'),
         url('opensans-condlight.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('opensans-condlightitalic.eot');
    src: url('opensans-condlightitalic.eot?#iefix') format('embedded-opentype'),
         url('opensans-condlightitalic.woff') format('woff'),
         url('opensans-condlightitalic.ttf') format('truetype'),
         url('opensans-condlightitalic.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}

//#{headings()}{
//  @extend .heading;
//  text-rendering: optimizelegibility;
//  margin-bottom: 1em;
//  font-weight: normal;
//}