<!DOCTYPE HTML>
<html ng-app="sortGraphicApp">
<head>
  <meta charset="utf-8">
  <title>Xiaodan's Everything</title>
  <meta name="author" content="Mengdan Zhu  (Daniel Zhu)">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/favicon.png" rel="shortcut icon">
  <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <!-- Third party libraries -->
  <script src="./libs/jquery/jquery-2.0.3.js"></script>
  <script src="./libs/ba-debug.js"></script>
  <script src="./libs/angular.min.js"></script>

  <script src="js/barGraph.js"></script>
  <script src="js/danTimer.js"></script>
  <script src="js/sortUtility.js"></script>
  <script src="js/sortUtilityOrigin.js"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <div ng-controller="AppController">
    <div class="header-bar">
      <div class="header-bar-base">
        <div class="header-bar-logo">Sort Graphic by Dan</div>
        <div class="header-bar-progress">
          <progress value={{sortProgress}} max="100" class="header-bar-progress-bar"></progress><span class="header-bar-progress-text">{{sortProgress | number:0}}%</span>
        </div>
        <div style="float:right;" ng-mouseup="checked = !checked" ng-init="checked=false"><a class="advanced-btn">Advanced</a></div>
        <div class="sort-method-list">
          <ul>
            <li ng-repeat="(key, value) in sortMethod" ng-click="convertStringToArray(value)"><a href="#">{{value}}</a></li>
          </ul>
        </div>
      </div>
      <div class="header-bar-more animate-hide" ng-show="checked">
        <div>
          <span class="more-label">Interval: </span><input type="number" name="input" ng-model="sortInterval" min="50" max="10000" required>
          <span class="more-label">Max Length: </span><input type="number" name="input" ng-model="sortArrayMaxLength" min="1" max="20000" required>
          <span class="more-label">Max Digits: </span><input type="number" name="input" ng-model="sortArrayDigits" min="1" max="15" required>
          <span class="more-label"><input type="checkbox" ng-model="axisLabel">Axis Label</span>
        </div>
      </div>
    </div>
    <!-- <input type="text" ng-model="tobeSortArray" placeholder=""> -->
    <div><canvas id="sortGraphic" width="1000" height="500" style="margin: 10px 0px;">Your browser does not support the HTML5 canvas tag.</canvas></div>
    <div class="sort-list-history">
      <ul>
        <li ng-repeat="(key, value) in sortedArrayHistory">{{value}}</li>
      </ul>
    </div>
  </div>

</body>
</html>